html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("https://ma-credence-deco.com/2265-cred_large/fond-de-hotte-marbre-blanc-de-carrare.jpg");
  background-repeat: no-repeat;
  background-size: 120%;
}

.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 0.5fr);
}

header {
  margin-top: 15%;
  /************* EXTRA SMALL devices **************/
  /************* MEDIUM devices **************/
  /************* LARGE devices **************/
  text-align: center;
  font-size: 1.3em;
  background-color: black;
  color: white;
  padding-top: 8%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0 0.1cm 0.3cm rgba(0, 0, 0, 0.308);
}
@media screen and (max-width: 570px) {
  header {
    grid-column: 2/12;
    grid-row: 1/2;
  }
}
@media screen and (min-width: 571px) {
  header {
    grid-column: 4/10;
    grid-row: 1/2;
  }
}
@media screen and (min-width: 920px) {
  header {
    grid-column: 5/9;
    grid-row: 1/2;
  }
}

.logo {
  width: 40%;
}

.icon {
  padding-left: 4%;
  width: 4%;
}

label {
  font-family: "Arial";
}

.form {
  /************* SMALL devices **************/
  /************* MEDIUM devices **************/
  /************* LARGE devices **************/
  padding: 5%;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.308);
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
@media screen and (max-width: 570px) {
  .form {
    grid-column: 2/12;
    grid-row: 2/6;
  }
}
@media screen and (min-width: 571px) {
  .form {
    grid-column: 4/10;
    grid-row: 2/6;
  }
}
@media screen and (min-width: 920px) {
  .form {
    grid-column: 5/9;
    grid-row: 2/6;
  }
}
.form input[type=text], .form input[type=email], .form input[type=password] {
  outline: none;
  width: 90%;
  height: 35px;
  border: 0px;
  margin: 3%;
  margin-top: 3px !important;
  right: 0px;
  font-size: 100%;
  padding: 1%;
  border-radius: 5px;
  background: #ebebeb;
}
.form input[type=text]:hover, .form input[type=email]:hover, .form input[type=password]:hover {
  background: #d4d4d4;
  border-bottom: 1px solid #a93226;
}
.form input[type=submit] {
  margin-top: 5%;
  background: #a93226;
  width: 60%;
  height: 40px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 90%;
  margin: auto auto;
  margin-bottom: 2%;
}
.form input[type=submit]:hover {
  background-color: #7a231b;
}
.form > .actions {
  display: block;
  text-align: center;
  padding-top: 7%;
}
.form > .actions > div > a {
  text-decoration: underline;
  color: #53515f;
  font-family: "Arial";
  font-size: 90%;
}
.form > .actions > div > a:hover {
  color: #7a231b;
}

p {
  grid-column: 5/9;
  grid-row: 6/7;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.7rem;
  text-align: center;
}

.home > img {
  width: 20px;
  height: auto;
  margin-top: 10px;
}
.home > img:hover {
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.308);
}

span {
  color: red;
}

/*# sourceMappingURL=s'inscrire.css.map */
