/* Se placer sur le chemin MediaPhoto\src dans le terminal puis faire la commande suivante pour activer le watcher
sass --watch scss:css */

// Les définitions générales
body {
	margin: 0px;
	padding: 0px;
	background-color: #fafafa;
	color: inherit;
}

html {
	height: 100%;
	font-size: 62.5%;
	/*scroll-behavior: smooth;*/
}

* {
	box-sizing: border-box;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
	gap: 1%;
	row-gap: 0;
}
/*************************** SMALL HEADER **********************/
header {
	background-color: black;
	// formulaire
	& div.recherche {
		grid-column: col-start / span 4;
		width: 100%;
		& form {
			text-align: center;
			& input {
				width: 80%;
				// Top Right Bottom Left
				margin: 20px auto 0px auto;
			}
			& input:hover {
				border: solid 3px white;
			}
		}
	}

	// nom de l'application
	& div.logo {
		grid-column: col-start 5 / span 4;
		width: 100%;
		& img {
			margin: 0px auto 0px auto;
			width: 100%;
			height: auto;
		}
	}
	// image du login
	& div.icon {
		grid-column: col-start 11;
		display: flex;
		flex-direction: column;
		margin: auto 0px auto 0px;
		width: 100%;
		& img {
			margin: 10px auto 0px auto;
			width: 100%;
		}
		& a {
			margin: 5px 0px 5px 0px;
			font-family: "Heebo", sans-serif;
			font-size: 1.2rem;
			text-align: center;
			text-decoration: none;
			color: white;
		}
		& a:hover {
			color: #ef4532;
		}
	}
}
/*************************** MEDIUM HEADER **********************/
@media screen and (min-width: 768px) {
	body > header > div:nth-child(3) > a {
		font-size: 1.5rem;
	}
}
/*************************** LARGE HEADER **********************/
@media screen and (min-width: 992px) {
	body > header > div:nth-child(3) > a {
		font-size: 2rem;
	}
}
/******************************* MENU *******************************/
.menu {
	width: 100%;
	z-index: 2;
	background-color: #a93226;
	box-shadow: 0 0.1cm 0.3cm rgba(0, 0, 0, 0.308);
	grid-column-start:1; grid-column-end : 13;
	& > ul {
		padding: 0px;
		margin: 0px;
		list-style-type: none;
		& > li:nth-child(1) {
			grid-column-start: 1;
			grid-column-end: 3;
		}
		& > li:nth-child(2) {
			grid-column-start: 3;
			grid-column-end: 5;
		}
		& > li:nth-child(3) {
			grid-column-start: 5;
			grid-column-end: 7;
		}
		& > .deroulant {
			grid-column-start: 7;
			grid-column-end: 9;
		}
		& > li:nth-child(5) {
			grid-column-start: 9;
			grid-column-end: 11;
		}
		& > li:nth-child(6) {
			grid-column-start: 11;
			grid-column-end: 13;
		}
	}
}

li {
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
	text-align: center;
	margin: 5px 5px 5px 5px;
	font-size: 1rem;
	& a {
		display: block;
		text-decoration: none;
		color: white;
		font-family: "Trebuchet MS", Arial, sans-serif;
		font-size: 100%;
	}
	& a:hover {
		color: #f28c8c;
	}
}

.enfant {
	display: none;
	background-color: #a93226;
	box-shadow: 0 0.1cm 0.3cm rgba(0, 0, 0, 0.308);
	width: 20%;
	padding: 0;
	position: absolute;
	z-index: 1;
	& a {
		text-align: left;
	}
}

a {
	color: white;
	display: block;
	text-align: center;
	padding: 0px 0px 0px 5px;
}

.enfant li:hover {
	background-color: #f28c8c;
	width: 90%;
}
.deroulant:hover .enfant {
	display: block;
	text-align: center;
	list-style-type: none;
	width: 30%;
}

/*************************** MEDIUM MENU **********************/
@media screen and (min-width: 768px) {
	body > div.menu ul li {
		font-size: 1.5rem;
	}
}
/*************************** LARGE MENU **********************/
@media screen and (min-width: 992px) {
	body > div.menu ul li {
		font-size: 2rem;
	}
}
/*********************************************************************/

// Le footer
body > footer {
	background-color: #383838;
	padding: 1% 0;
	margin-top: 2%;
	// Les réseaux sociaux
	& .socialNetworks {
		grid-column: col-start / span 6;
		display: flex;
		align-items: center;
		& a {
			padding: 0 3%;
		}
	}

	// Les copyright
	& p {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		font-size: 1.2rem;
		grid-column: col-start 7 / span 6;
		text-align: right;
		margin-right: 5%;
		color: white;
	}
}

// Le main de la page d'accueil
// Les galeries
body main.home {
	column-gap: 3%;
	margin: 0 2% 0 2%;
	& h1 {
		grid-column-start: 1;
		grid-column-end: span 12;
		text-align: center;
		//margin-top: 5%;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		font-size: 3rem;
		margin-bottom: 0%;
	}
	& h2{
		grid-column-start: 1;
		grid-column-end: span 12;
		text-align: center;
		//margin-top: 5%;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		font-size: 2rem;
		margin-bottom: 0%;
	}
	& .galerie {
		margin-top: 5%;

		& a {
			position: relative;
		}
		& img {
			width: 100%;
			height: auto;
		}
	}

	// Apparition du texte + effet au hover de l'image
	& .galerie:hover {
		filter: grayscale(100%);
		transition: all 0.3s ease-in-out 0s;
	}

	& .galerie:hover .infosGalerieHover {
		top: 50%;
		left: 50%;
		opacity: 1;
	}

	& .infosGalerieHover {
		position: absolute;
		text-align: center;
		width: 100%;
		top: 80%;
		left: 50%;
		opacity: 0;
		transform: translate(-50%, -50%);
		transition: all 0.5s ease-in-out 0s;

		& h3 {
			color: white;
			font-weight: bold;
			font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
			font-size: 2.5vh;
			margin-bottom: 1%;
		}

		& p {
			color: white;
			font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
			font-size: 1.5vh;
			margin-top: 0;
		}
	}
}

// Extra small devices et small devices
@media screen and (max-width: 768px) {
	body > main {
		& .galerie {
			grid-column: col-start / span 12;
		}
	}
}

// Medium devices
@media screen and (min-width: 768px) {
	body > main {
		& .galerie:nth-child(2n + 0) {
			grid-column: col-start 7 / span 6;
		}
				

		& .galerie:nth-child(2n + 1) {
			grid-column: col-start / span 6
		}
			
	}
}

// Large devices et extra large devices
@media screen and (min-width: 992px) {
	body > main {
		& .galerie:nth-child(3n + 0) {
			grid-column: col-start  / span 4;
			//grid-column: col-start 9 / span 4;
		}

		& .galerie:nth-child(3n + 1) {
			grid-column: col-start 5 / span 4;
			//grid-column: col-start / span 4;
		}

		& .galerie:nth-child(3n + 2) {
			grid-column: col-start 9/ span 4;
			//grid-column: col-start 5 / span 4;
		}
	}
}

// Le main de la page "Ajouter photo" et "Créer galerie"
body main.addPhoto,
body main.createGallery {
	// Marges à gauche et à droite du contenu
	margin: 0 10% 0 10%;
	// Le titre
	& h1 {
		padding-top: 20px;
		text-align: center;
		color: black;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		font-size: 2.5vw;
		font-weight: bold;
		grid-column: col-start / span 12;
		margin: 0;
	}

	// La barre horizontale
	& hr {
		border-color: black;
		grid-column: col-start / span 12;
		width: 100%;
	}

	// Le formulaire
	form {
		grid-column: col-start / span 12;
		& > div {
			margin-top: 1%;
		}
		// Les labels
		& label {
			color: black;
			font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
			font-size: 1.3vw;
			font-weight: bold;
			display: inline-block;
			margin-bottom: 0.5rem;
			& span {
				color: red;
			}
		}

		// Le bouton
		& .sendForm {
			margin-top: 5%;
			border-radius: 15px;
			color: #3d3d3d;
			grid-column: col-start 5 / span 4;
			margin-bottom: 5%;
			cursor: pointer;
		}

		// Les champs de remplissage
		& input,
		select,
		textarea {
			width: 100%;
			background-color: #d3d9df;
			border-color: #d3d9df;
			border: 1px solid transparent;
			padding: 0.375rem 0.75rem;
			font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
			font-size: 1.2vw;
		}

		// La couleur du placeholder des champs de remplissage
		& input::placeholder,
		textarea::placeholder {
			color: #3d3d3d;
		}

		// Les différentes champs à remplir de Ajouter Photo
		// Le select multiple (sélectionenr galeries)
		& .bootstrap-select {
			width: 100% !important;

			& button {
				background-color: #d3d9df;
				border-color: #d3d9df;
			}
		}

		& .bootstrap-select * {
			font-size: 0.8vw;
			color: #3d3d3d;
		}

		// Organisation des champs de remplissage
		& .namePhoto {
			grid-column: col-start / span 12;
		}

		& .keywordsPhoto {
			grid-column: col-start / span 6;
		}

		& .gallery {
			grid-column: col-start 7 / span 6;
		}

		// Le champ pour importer les photos
		& .importPhoto,
		.choosePhotos {
			grid-column: col-start / span 12;
			position: relative;

			& input[type="file"] {
				width: unset;
				background-color: unset;
				padding: 0.375rem 0.75rem 0.375rem 0;
			}

			& > img {
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-top: 1%;
				max-width: 100%;
				max-height: 300px;
				border: 1px solid black;
				width: 100%;
			}

			// Le texte "Votre photo s'affichera ici"
			& p {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: black;
				font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
				font-size: 3vw;
				font-weight: bold;
			}
		}

		// Les différents champs à remplir de Créer Galerie
		// Organisation des champs de remplissage
		& .nameGallery {
			grid-column: col-start / span 6;
		}

		& .keywordsGallery {
			grid-column: col-start 7 / span 6;
		}

		& .descriptionGallery {
			grid-column: col-start / span 6;
		}

		& .accessMode {
			grid-column: col-start 7 / span 6;
		}

		& .choosePhotos {
			grid-column: col-start / span 12;

			// La modal au clic sur le bouton "Choisir des photos"
			.modal {
				display: none;
				position: fixed;
				z-index: 1;
				padding-top: 100px;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				overflow: auto;
				background-color: rgba(0, 0, 0, 0.3);
				scroll-behavior: smooth;
			}

			// Le contenu de la modal
			.modal-content {
				position: relative;
				background-color: #fefefe;
				margin: auto;
				padding: 0;
				border: 1px solid #888;
				width: 80%;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
					0 6px 20px 0 rgba(0, 0, 0, 0.19);
				-webkit-animation-name: animatetop;
				-webkit-animation-duration: 0.4s;
				animation-name: animatetop;
				animation-duration: 0.4s;
			}

			// Animations de la modal
			@-webkit-keyframes animatetop {
				from {
					top: -300px;
					opacity: 0;
				}
				to {
					top: 0;
					opacity: 1;
				}
			}

			@keyframes animatetop {
				from {
					top: -300px;
					opacity: 0;
				}
				to {
					top: 0;
					opacity: 1;
				}
			}

			// Le bouton "fermer" de la modal (icone croix)
			.close {
				color: white;
				float: right;
				font-size: 28px;
				font-weight: bold;
			}

			.close:hover,
			.close:focus {
				color: #000;
				text-decoration: none;
				cursor: pointer;
			}

			// Le header de la modal
			.modal-header {
				padding: 16px 16px;
				background-color: #a93226;
				color: white;
				grid-column: col-start / span 12;
				position: relative;

				// La barre de recherche de la modal
				& .search {
					max-width: 25%;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
			}

			// Le body de la modal
			.modal-body {
				padding: 2px 16px;
				grid-column: col-start / span 12;
				margin-bottom: 1%;

				// Le positionnement et la dimension des images de la modal
				& img {
					width: 100%;
					margin-top: 5%;
				}

				& img:nth-child(4n + 0) {
					grid-column: col-start 7 / span 3;
				}

				& img:nth-child(4n + 1) {
					grid-column: col-start 10 / span 3;
				}

				& img:nth-child(4n + 2) {
					grid-column: col-start / span 3;
				}

				& img:nth-child(4n + 3) {
					grid-column: col-start 4 / span 3;
				}
			}

			// La flèche de la modal pour revenir tout en haut
			& .arrowGoTop {
				grid-column: col-start 12 / span 1;
				text-align: right;
				margin-right: 10%;
				margin-bottom: 10%;
				cursor: pointer;
			}
		}
	}
}

// Extra small devices et small devices
// Réorganisation de la taille des polices
@media screen and (max-width: 768px) {
	body main.addPhoto,
	body main.createGallery {
		& h1 {
			font-size: 4vw;
		}

		& form {
			& label {
				font-size: 2vw;
			}

			& input,
			select,
			textarea {
				font-size: 1.9vw;
				padding: 0.375rem 0.45rem;
			}
		}
	}
}

// Le main de la page "Ma galerie", "Ma photo", "Galeries publiques" et "Photos publiques"
body main.myGallery {
	margin: 0 5%;
	// Le titre, les boutons, infos de la galerie ou photo
	& .heading {
		grid-column: col-start / span 12;
		align-items: center;
		margin-top: 1%;

		// Les boutons de suppression et modification (seulement pour "Ma galerie" et "Ma photo")
		& .deleteGallery,
		.modifyGallery,
		.deletePhoto,
		.modifyPhoto {
			height: 80%;
			background-color: #d3d9df;
			border-color: #d3d9df;
			border: 1px solid transparent;
			padding: 0.375rem 0.75rem;
			font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
			font-size: 1.2vw;
			cursor: pointer;
		}

		// Le positionnement des éléments
		& .deleteGallery,
		.deletePhoto {
			grid-column: col-start / span 2;
		}

		& .modifyGallery,
		.modifyPhoto {
			grid-column: col-start 3 / span 2;
		}

		& > h1 {
			grid-column: col-start 5 / span 4;
			text-align: center;
			color: black;
			font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
			font-size: 2vw;
			font-weight: bold;
			margin: 0;

			& span {
				font-size: 1.8vw;
				font-weight: 500;
			}
		}
	}

	// Positionnement des photos de la page "Ma galerie" et "Galeries publiques"
	& .photosGallery {
		grid-column: col-start / span 12;
		margin-bottom: 1%;

		& #myPhoto {
			grid-column: col-start / span 12;
			margin-top: 1%;
		}
		& .thePhoto {
			margin-top: 2%;
			position: relative;

			// La croix sur la photo qui permet la suppression d'une photo dans la page "Ma galerie"
			& .deletePhoto {
				position: absolute;
				right: 3%;
				top: -1%;
				font-size: 6rem;
				cursor: pointer;
			}

			& .deletePhoto:hover {
				color: white;
			}
		}

		& .thePhoto img {
			width: 100%;
			height: auto;
		}
	}

	// Les mots clés d'une photo ou d'une galerie
	& .keywordsPhoto {
		grid-column: col-start / span 12;
		text-align: center;
		margin-bottom: 1%;
		& span {
			font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
			font-size: 1.5vw;
			font-style: italic;
			color: white;
			background-color: #383838;
			border-radius: 20px;
			padding: 0.5rem 1.5rem;
			font-weight: 600;
			margin-right: 5px;
			display: inline-block;
			margin-bottom: 5px;
		}
		& span:last-child {
			margin-right: 0;
		}
	}

	// Le nombre de photos dans une galerie
	& .lengthPhotos {
		grid-column: col-start / span 6;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		font-size: 1.5vw;
		font-weight: bold;
		margin: 3% 0 1% 0;
	}

	// La date de création d'une galerie ou d'ajout d'une photo dans la galerie
	& .dateCreation {
		grid-column: col-start 7 / span 6;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		font-size: 1.5vw;
		font-weight: bold;
		margin: 3% 0 1% 0;
		text-align: right;
	}

	// Le champ de saisi pour écrire un commentaire
	& .writeComment {
		grid-column: col-start / span 11;
		background-color: #d3d9df;
		border-color: #d3d9df;
		border: 1px solid transparent;
		padding: 0.375rem 0.75rem;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		font-size: 1.5vw;
	}
	& .writeComment::placeholder {
		color: #3d3d3d;
	}

	// Le bouton d'envoi du commentaire
	& .envoyerCommentaire {
		grid-column: col-start 12 / span 1;
		background-color: #383838;
		border-color: #383838;
		color: white;
		border: 1px solid transparent;
		padding: 0.375rem 0.75rem;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		font-size: 1.5vw;
		border-radius: 10px 100px / 120px;
		cursor: pointer;
	}

	// Les commentaires de la galerie et de la photo
	& .commentsGallery {
		grid-column: col-start / span 12;
		margin-bottom: 1%;

		// Le nombre de commentaires
		& .lengthComments {
			font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
			font-size: 1.5vw;
		}

		& .comment {
			// l'auteur du commentaire
			& .author {
				margin: 0;
				font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
				font-size: 1.3vw;

				& span {
					font-style: italic;
					font-weight: 400;
					color: #383838;
				}
			}

			// Le bouton de suppression du commentaire (seulemennt dans "Ma galerie" et "Ma photo")
			& .deleteComment {
				margin-bottom: 1%;
				background-color: #d3d9df;
				border-color: #d3d9df;
				border: 1px solid transparent;
				padding: 0.375rem 0.75rem;
				font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
				font-size: 1vw;
				cursor: pointer;
			}

			// Le texte du commentaire
			& .text {
				margin: 4px 0 0.5% 0;
				font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
				font-size: 1.1vw;
			}
		}
	}
}

// Extra small devices et small devices
// Réorganisation des éléments + taille des polices
@media screen and (max-width: 768px) {
	body main.myGallery {
		& .photosGallery {
			& .thePhoto {
				grid-column: col-start / span 12;
			}
		}

		& .heading {
			& .deleteGallery,
			.modifyGallery,
			.deletePhoto,
			.modifyPhoto {
				font-size: 2vw;
				height: 100%;
			}

			& h1 {
				font-size: 2.5vw;

				& span {
					font-size: 2vw;
				}
			}
		}
		& .keywordsPhoto {
			& span {
				padding: 0.25rem 1rem;
			}
		}

		& .lengthPhotos {
			font-size: 1.8vw;
		}

		& .dateCreation {
			font-size: 1.8vw;
		}

		& .writeComment {
			padding: 0.375rem 0.75rem;
			font-size: 1.8vw;
		}

		& .envoyerCommentaire {
			font-size: 1.8vw;
		}

		& .commentsGallery {
			& h2 {
				font-size: 2.2vw;
			}

			& .comment {
				& .author {
					font-size: 2vw;
				}

				& .deleteComment {
					padding: 0.375rem 0.75rem;
					font-size: 1.7vw;
				}

				& .text {
					font-size: 1.8vw;
				}
			}
		}
	}
}

// Medium devices
// Réorganisation des éléments
@media screen and (min-width: 768px) {
	body main.myGallery {
		& .photosGallery {
			& .thePhoto:nth-child(2n + 0) {
				grid-column: col-start 7 / span 6;
			}

			& .thePhoto:nth-child(2n + 1) {
				grid-column: col-start / span 6;
			}
		}
	}
}

// Large devices et extra large devices
@media screen and (min-width: 992px) {
	body main.myGallery {
		& .photosGallery {
			.thePhoto:nth-child(3n + 0) {
				grid-column: col-start 9 / span 4;
			}
			.thePhoto:nth-child(3n + 1) {
				grid-column: col-start / span 4;
			}
			.thePhoto:nth-child(3n + 2) {
				grid-column: col-start 5 / span 4;
			}
		}
	}
}

// PROFIL
.form {
	& .iconLarge {
		padding-left: 4%;
		width: 8%;
	}

	& .iconMedium {
		padding-left: 4%;
		width: 7%;
	}

	& .iconSmall {
		padding-left: 4%;
		width: 6.5%;
	}

	& label {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		font-size: 1.5rem;
	}
	@extend .grid;

	margin: 1% !important;
	margin-top: 5% !important;

	& > div:nth-child(1) {
		grid-column: 1/7;
	}

	& > div:nth-child(2) {
		grid-column: 7/13;
	}

	& > div:nth-child(3) {
		grid-column: 1/7;
	}

	& > div:nth-child(4) {
		grid-column: 7/13;
	}

	& > div:nth-child(5) {
		grid-column: 1/5;
	}

	& > div:nth-child(6) {
		grid-column: 5/9;
	}

	& > div:nth-child(7) {
		grid-column: 9/13;
	}

	& > div:nth-child(8) {
		grid-column: 5/9;
	}

	/************* MEDIUM devices **************/
	@media screen and (max-width: 768px) {
		grid-column: 1/13;
		& > div:nth-child(1) {
			grid-column: 1/13;
		}

		& > div:nth-child(2) {
			grid-column: 1/13;
		}

		& > div:nth-child(3) {
			grid-column: 1/13;
		}

		& > div:nth-child(4) {
			grid-column: 1/13;
		}

		& > div:nth-child(5) {
			grid-column: 1/13;
		}

		& > div:nth-child(6) {
			grid-column: 1/13;
		}

		& > div:nth-child(7) {
			grid-column: 1/13;
		}

		& > div:nth-child(8) {
			grid-column: 1/13;
		}

		& .iconLarge {
			padding-left: 4%;
			width: 7%;
		}
	}

	/************* LARGE devices **************/
	@media screen and (min-width: 769px) {
		grid-column: 1/13;
	}

	& span {
		color: red;
	}

	& input[type="text"],
	& input[type="password"],
	& input[type="email"] {
		outline: none;
		width: 90%;
		height: 35px;
		border: 0px;
		margin: 3%;
		margin-top: 3px !important;
		padding: 1%;
		border-radius: 5px;
		background: rgb(235, 235, 235);

		&:hover {
			background: rgb(212, 212, 212);
			border-bottom: 1px solid #a93226;
		}
	}

	& input[type="submit"] {
		margin-top: 5%;
		background: #a93226;
		width: 90%;
		height: 40px;
		border-radius: 5px;
		border: 0;
		cursor: pointer;
		color: white;
		font-size: 1.3rem;
		margin-bottom: 10%;

		&:hover {
			background-color: #7a231b;
		}
	}

	& > .actions {
		display: block;
		text-align: center;
		padding-top: 7%;

		& > div > a {
			text-decoration: underline;
			color: rgb(83, 81, 95);
			font-family: "Arial";
			font-size: 90%;

			&:hover {
				color: #7a231b;
			}
		}
	}
}

// RECHERCHER

.keywordsSearch {
	grid-column: 1/7;
	margin-top: 10%;
	margin-bottom: 1%;

	& button {
		border-radius: 30px;
		border: none;
		margin-bottom: 4%;
		margin-left: 5px;
		cursor: pointer;
	}

	& span {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		font-size: 1.2vw;
		font-style: italic;
		color: white;
		background-color: #383838;
		border-radius: 20px;
		padding: 0.5rem 1.5rem;
		font-weight: 600;
		margin-right: 5px;
		display: inline-block;
		margin-bottom: 5px;
	}
	& span:last-child {
		margin-right: 0;
	}
}

.search {
	grid-column: 7/13;

	& form {
		@extend .grid;

		& div:nth-child(1) {
			grid-column: 1/7;

			@media screen and (max-width: 768px) {
				grid-column: 1/13;
				& > input {
					margin-top: 3% !important;
					width: 100% !important;
				}
			}

			& > input {
				outline: none;
				border: 0px;
				background-color: transparent;
				border-bottom: 1px solid black;
				width: 90%;
				height: 35px;
				margin-top: 15%;
				font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
				font-size: 1.2vw;
			}
		}

		& div:nth-child(2) {
			grid-column: 7/13;

			@media screen and (max-width: 768px) {
				grid-column: 1/13;
			}

			& input {
				margin-top: 15%;
				background: #a93226;
				width: 100%;
				height: 35px;
				border-radius: 5px;
				border: 0;
				cursor: pointer;
				color: white;
				font-size: 1.5rem;
				margin-bottom: 10%;

				&:hover {
					background-color: #7a231b;
				}
			}
		}
	}
}
